a {
  text-decoration: none;
  color: inherit;
}
.wrapper {
  background: url(./assets/wallpaper1.jpg) no-repeat center;
  background-size: cover;
}

/* phone layout  */

.phone {
  background: url(./assets/wallpaper1.jpg) no-repeat center;
  background-size: cover;
}

.phone::-webkit-scrollbar {
  display: none;
}
/* Home Screen  */

.slider {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
  cursor: pointer;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: radial-gradient(
    rgba(231, 70, 231, 0.733),
    rgba(221, 67, 67, 0.726)
  );
}

.slider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: radial-gradient(
    rgba(231, 70, 231, 0.733),
    rgba(221, 67, 67, 0.726)
  );
}

/* .custom-scrollbar {
  overflow-y: scroll;
  /* Hide the scrollbar */
/* scrollbar-width: none; /* For Firefox */

/* .custom-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */

#label {
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  pointer-events: none;

  animation: slideAnimation 3s ease-in-out infinite;
}

@keyframes slideAnimation {
  0%,
  100% {
    color: #000;
    filter: drop-shadow(0 0 10px purple);
  }
  50% {
    color: purple;
    filter: drop-shadow(0 0 10px purple);
  }
}

.header i {
  right: 10px;
}

.appScreen {
  cursor: pointer;
}

.sortContact {
  justify-content: space-around;
}
.sortByGender {
  cursor: pointer;
  gap: 2px;
}
.male:hover {
  color: blue;
  transition: all 0.4s ease-in-out;
  font-size: 15px;
}
.female:hover {
  color: blue;
  transition: all 0.4s ease-in-out;
  font-size: 15px;
}

/* Graph Pie */

.icon {
  cursor: pointer;
  font-size: 24px;
  margin: 10px;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.graphChart {
  font-size: 15px;
}

#listAllUser {
  cursor: pointer;
}
#listAllUser:hover {
  color: green;
  transition: all 0.3s ease-in-out;
  font-size: large;
}
